html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(52, 53, 65);
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

input {
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    user-select: none;
}

/* ------ LOADER ------ */

.loader-container {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 53, 65);
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: rgb(52, 53, 65);
}

.loader::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
}

.loader::after {
    content: '';
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* ------ HOME ------ */

.login-container {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    color: white;
    font-size: 1em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-container * {
    margin: 0.35em;
}

.login-container i {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.login-container div {
    margin-top: 1.35em;
}

.login-container div a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(15, 139, 108);
    padding: .5em 1em;
    border-radius: .3em;

    transition: .2s;
}

.login-container div a:hover {
    background-color: rgb(8, 98, 76);
}

/* ------ LOGIN ------ */

.login-page-container {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    font-weight: 500 !important;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.btn-login {
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: rgb(15, 139, 108);
    border-color: rgb(15, 139, 108);
}

.btn-login:hover {
    background-color: rgb(8, 98, 76);
    border-color: rgb(8, 98, 76);
}

.btn-login:active {
    background-color: rgb(8, 98, 76) !important;
    border-color: rgb(8, 98, 76) !important;
}

.btn-login:focus-visible {
    box-shadow: none;
    background-color: rgb(8, 98, 76) !important;
    border-color: rgb(8, 98, 76) !important;
}

.btn-login:disabled {
    box-shadow: none;
    background-color: rgb(8, 98, 76) !important;
    border-color: rgb(8, 98, 76) !important;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
    border-color: #ea4335;
}

.btn-google:hover {
    background-color: #b4352a;
    border-color: #b4352a;
}

.btn-google:active {
    background-color: #b4352a !important;
    border-color: #b4352a !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #2b4170;
    border-color: #2b4170;
}

.btn-facebook:active {
    background-color: #2b4170 !important;
    border-color: #2b4170 !important;
}

/* ------ SERVICE ------ */

.service {
    display: none;
}

header {
    box-sizing: border-box;
    padding: 1em 4.5em 1em 5em;
    width: 100%;
    height: 7.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 1.6em;
}

header div:hover * {
    color: #F7931E;
}

header div p {
    cursor: pointer;
    margin: 0;
    font-size: 2em;
    color: white;

    transition: .2s ease;
}

header div i {
    transform: rotate(-90deg);
    cursor: pointer;
    color: white;
    font-size: 4em;

    transition: .2s ease;
}

nav {
    display: flex;
    gap: 3em;
}

nav i {
    margin-right: 0.3em;
    color: white;
    font-size: 0.85em;

    transition: .3s ease;
}

nav a {
    font-size: 1.1em;
    cursor: pointer;
    color: white !important;
    text-decoration: none;

    transition: .3s ease;
}

nav a:hover, nav a:hover * {
    color: #F7931E !important;
}

/* MESSAGES */
.messages {
    opacity: 0;
    margin: 0 4.5em;
    padding: .51em 2em;
    width: auto;
    height: fit-content;
    background-color: rgb(214, 149, 149);
    border-radius: 1em;
}

.service-container {
    height: 80%;
    padding: 2.2em 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title-1 {
    margin: 0 0 .2em 0;
    font-size: 1.3em;
    color: #F7931E;
}

.title-2 {
    margin: -0.2em 0;
    font-size: 2.7em;
}

.separator {
    flex: .04 0 10px;
}

/* LEFT */

.service-left {
    flex: .3;
    padding: 3.3em;
    border-radius: 0.7em;
    border: 1px solid white;
}

.service-left hr {
    margin: 2em 0;
    width: auto;
    border: 1px solid white;
    background-color: white;
    opacity: 100%;
}

.service-left div:not(.title-section) p:first-child {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}

.service-left div:not(.title-section) p:not(:first-child) {
    font-size: 1.1em;
    margin: 0.5em 0;
}

.btn-left {
    margin: 0.5em 0 0 0;
    padding: 0.8em;
    width: 100%;
}

.vip {
    margin: 0.5em 0 2em 0;
    color: black;
    background-color: #F7931E !important;
    border-color: #F7931E !important
}

.vip:hover {
    color: black;
    background-color: #b96e17 !important;
    border-color: #b96e17 !important
}

.vip:active {
    color: black !important;
    background-color: #b96e17 !important;
    border-color: #b96e17 !important
}

/* RIGHT */

.service-right {
    flex: .7;
}

.operation {
    margin: 3em 0 0 0;
}

.operation p {
    margin: 0 0 0.3em 0;
    font-size: 1.4em;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

form input {
    padding: 0.5em 0.3em;
    color: white;
    outline: none;
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

form button {
    width: auto;
}

.result {
    margin: 3em 0 0 0;
}

.result p:first-child {
    margin: 0.3em 0;
    font-size: 1.4em;
    font-weight: bold;
}

.result-text {
    padding: 0.5em 0.3em;
    font-size: 1.1em;
    border-bottom: 1px solid white;
}

.info-all {
    margin: 4em 0 0 0;
    overflow: hidden;
    display: flex;
    gap: 4em;
}

.info {
    flex: 1;
}

.info i {
    font-size: 2.4em;
    color: #F7931E;
    margin-bottom: 0.4em;
}

.info p {
    color: white;
}

.info-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.info-text {
    font-size: 1.1em;
    margin-bottom: 0;
}

.colored {
    color: #F7931E;
}